<div class="row">
    <div class="span6">
        <div class="widget">
            <div class="widget-header">
                <h3>系统状态</h3>
            </div>
            <div class="widget-content">
                blablabla
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="widget">
            <div class="widget-header">
                <h3>快速导航</h3>
            </div>
            <div class="widget-content">
                blablabla
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="widget">
            <div class="widget-header">
                <h3>更新记录</h3>
            </div>
            <div class="widget-content">
                blablabla
            </div>
        </div>
    </div>

</div>